#root {
  min-height: 100vh;
  overflow-wrap: break-word;
}

.app-pagecontainer {
  width: 616px;
  margin: 0 auto;
}

.header {
  display: block;
  padding: 8px 0;
  position: relative;
  margin-bottom: 35px; /* to make room for the Metamask status bar */
}

.header-container {
  margin: auto;
  margin-top: 2px;
  width: 666px; /* (•̀ᴗ•́)و ̑̑  */
  position: relative;
}

.metamask-status-container {
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.3);
  background: #ececec;
  color: #666;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 3px;
  border-bottom: 1px solid #ababab;
  position: absolute;
  top: 56px;
  width: 100%;
}
.metamask-status-container p { margin: 0 }
.metamask-status-container a { color: #666 }
.metamask-status-container .error { background: #fbd8d8; color: #ab1414;}

.header-link {
  text-decoration: none;
  display: inline-block;
}

.header-title {
  background: url("assets/logo-172x172.png") left center / 43px 43px no-repeat;
  color: #222;
  font-size: 28px;
  margin: 0;
  margin-top: -5px;
  margin-left: -50px;
  padding: 5px;
  padding-left: 50px;
}

.header-input {
  border-radius: 2px;
  font-size: 14px;
  outline: none;
  border: 1px #666 solid;
  padding: 8px;
  margin: 0 2px 0 8px;
}
.header-input:focus {
  box-shadow: 0 0 5px #fe57a1;
  border: 1px #999 solid;
}

.header-submit-button {
  background-color: #efefef;
  border: 1px solid #666;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 33px;
  padding: 0 10px;
}
.header-submit-button:focus {
  outline: none;
  box-shadow: 0 0 5px #fe57a1;
}

.header-form {
  position: absolute;
  right: 26px;
  top: 0;
}

.app-center {
  text-align: center;
}

.app-title {
  margin: 20px 0 10px 0;
  font-size: 14px;
}

.app-title-bigger {
  font-size: 18px;
}

.codec-select {
  font-size: 14px;
  font-weight: normal;
  float: right;
  margin-top: 4px;
}

.codec-select label {
  padding-right: 4px;
}

.new-cube-textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  font-size: 14px;
  outline: none;
  border: 1px #666 solid;
}

.new-cube-textarea:focus {
  box-shadow: 0 0 5px #fe57a1;
  border: 1px #999 solid;
}

.submit-button {
  background-color: #efefef;
  border: 1px solid #666;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  margin: 10px 0;
}
.submit-button:focus {
  outline: none;
  box-shadow: 0 0 5px #fe57a1;
}

.cube-info {
  font-size: 12px;
  margin: 0 0 0 10px;
}

.cube-display {
  padding: 10px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px #666 solid;
  margin-bottom: 10px;
  position: relative;
}
.cube-display-codec {
  position: absolute;
  left: 10px;
  top: -7px;
  background-color: white;
  font-size: 12px;
}

.cube-display-error {
  background: #fbd8d8;
  color: #ab1414;
  padding: 10px;
}

.faded { color: #666; }

.nerdy {
  font-family: Consolas, Courier, monospace;
  font-weight: 700;
}

.ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.warning, .success {
  border-radius: 2px;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
}

.warning ul, .success ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.warning {
  background-color: #f9dcdc;
}

.success {
  background-color: #e0f9dc;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-top: 20px;
}
